<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <div>
      <form method="POST" action="/submit">
        <label for="Name">Name: </label><input type="text" name="name" />
        <label for="Email">Email: </label><input type="email" name="email" />
        <input type="submit" />
      </form>
      {% with messages = get_flashed_messages() %} {%if messages%} {% for
      message in messages%}
      <h5>{{message | safe}}</h5>
      {%endfor%} {%endif%} {% endwith%}
    </div>
  </body>
</html>
